*{
    margin: 0;
    padding: 0;
}
.nava{
    background-color:#47B5FF;
    z-index: 1;
}
.nab{
    display: flex;
    justify-content: space-between;
}
.nas{
    padding: 18px;
    color: white;
}
.text{
    text-decoration: none;
    color: white;
}
.text1{
    text-decoration: none;
    color: white;
    font-family: 'Silkscreen', cursive;
}
.init{
    align-items: center;
    display: inline;
    padding :15px 20px ;
}
.veiw{
    height: 125vh;
    align-items: center;
    background-color: antiquewhite;
}
.cen{
    height: 35vh;
    text-align: center;
}
h1{
    font-weight:bolder;
    padding: 30px;
    font-size: 9vh;
    font-family: 'Silkscreen', cursive;
}
.clr{
    background-color: #06283D;
    margin: auto;
    padding: 120px 80px ;
    text-align: center  ;
}
.noice{
    align-items: center;
}
.clr .init :hover{
    cursor: pointer;
}
.lower{
    height: 18vh;
    background-color:#47B5FF; 
}  
.non{
    font-size: 6vh;
    font-weight:bolder;
    font-family: 'Silkscreen', cursive;
    text-decoration: none
}
p , .text {
    font-family: 'Montserrat', sans-serif;
} 
.size {
    font-size: larger;
}
